*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 1046px;
    margin-right: auto;
    margin-left: auto;
}
a{
    text-decoration: none;
}

header ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
header{
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    top: 0;
    background-color: white;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar1 {
    display: flex;
    gap: 32px;
    margin-top: -100px;
    padding-bottom: 120px;
    position: absolute;
    left: 240px;
}
.navbar2 {
    padding-top: 104px;
    padding-left: 0px;
    padding-bottom: 200px;
}

#hero{
    background-image: url(../images/cover.png);
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 188px;
}

.hero-tytle{
    color: rgba(37, 43, 66, 1);
    font-size: 58px;
    padding-bottom: 35px;
}
.hero-desc{
    color: rgba(115, 115, 115, 1);
    font-size: 20px;
    padding-bottom: 35px;
}
.btns{
    padding-left: 40px;
}
.btn1:hover{
    background-color: rgba(255, 166, 43, 1);
    color: white;
    transition: 0.5s;
    border: none;
}
.btn2:hover {
    background-color: rgba(255, 166, 43, 1);
    color: white;
    transition: 0.5s;
    border: none;
}
.btn1{
    width: 185px;
    height: 48px;
    border-radius: 40px;
    border: 2px solid rgba(0, 160, 193, 1);
    color: rgba(0, 160, 193, 1);
}
.btn2{
        width: 185px;
            height: 48px;
            border-radius: 40px;
            border: 2px solid rgba(0, 160, 193, 1);
            color: rgba(0, 160, 193, 1);
}
.market{
    width: 330px;
    height: 210px;
}
.market img, h1, p{
    padding-left: 40px;
}
.market img{
    padding-top: 35px;
}
.market h1{
    padding-top: 10px;
    padding-bottom: 10px;
}
.market{
    background-color: white;
}
.three:hover{
    background-color: rgba(0, 160, 193, 1);
    transition: 0.5s;
    color: white;
}
.two:hover{
    background-color: rgba(0, 160, 193, 1);
    transition: 0.5s;
    color: white;
}
.one:hover{
background-color: rgba(0, 160, 193, 1);
    transition: 0.5s;
    color: white;
}
.one:hover img{
    background-color: white;

}
.one, .two, .three{
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.one img{
    background-color: white;
}
.two img{
    background-color: white;
}

.about{
    text-align: center;
    padding-top: 200px;
}
.about h2{
    font-size: 40px;
}
.bolimlar{
    display: flex;
    gap: 40px;
    padding-top:50px;
    padding-bottom: 80px;
}
.bolim1{
    width: 230px;
    height: 210px;
}
.bolim1:hover{
    box-shadow: 0px 4px 4px 0px rgba(1, 1, 1, 0.25);
    transition: 0.5s;
}
.bolim1 img{
    width: 48px;
    height: 48px;
    margin-top: 30px;
    margin-left: 91px;
}
.bolim1 h1{
    padding-top: 10px;
    padding-left: 88px;
    font-size: 40px;
}
.advise h1{
    font-size: 40px;
}
.bolim1 p{
    padding-top: 10px;
    padding-left: 70px;
}
.advise{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
}
.card1{
    width: 230px;
    height: 183px;
    background-color:white;
}
.card1 img{
    display: flex;
    padding-bottom: 60px;
}
.card1 h1{
    padding-left: 30px;
    padding-top: 30px;
}
.card1 p{
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.cards{
    display: flex;
    gap: 40px;
    padding-bottom: 100px;
}
#hero-about{
    background-color: rgba(250, 250, 250, 1);
}
#hero-marketing{
    background-color:rgba(250, 250, 250, 1) ;
}
#hero-advise{
    background-color: rgba(250, 250, 250, 1);
    padding-bottom: 100px;
}
#hero-brends{
    background-color: rgba(250, 250, 250, 1);
    padding-top: 100px;
    padding-bottom: 100px;
}
#hero-contact{
    background-color: rgba(243, 243, 243, 1);
}
.brend{
    padding-bottom: 50px;
}
.biznes{
    padding-top: 180px;
    text-align: center;
}
.biznes h1{
    padding-bottom: 10px;
    color: rgba(37, 43, 66, 1);
    font-size: 40px;
}
.biznes p{
    padding-bottom: 100px;
}
.biz-tytle{
    font-size: 40px;
}
.bznes{
    display: flex;
}
.servisess{
    padding-bottom: 160px;
}
.fox h1{
    font-size: 18px;
    color: rgba(37, 43, 66, 1);
}
.most{
    padding-top: 12px;
    padding-left: 50px;
    padding-bottom: 12px;
}
.brend{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.Subscribe{
    background-color:rgba(22, 105, 122, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 42px;
}
.Subscribe input{
    width: 450px;
    height: 58px;
    border-radius: 5px;
    border: none;
}
.Subscribe button{
    width: 117px;
    height: 58px;
    background-color: rgba(255, 166, 43, 1);
    border-radius: 5px;
    border: none;
}
.brend-input{
    background-color: white;
    border-radius: 5px;
}
::placeholder{
    padding-left: 20px;
}
.Subscribe h2{
    color: white;
}
.contact-tytle{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}
.contact-tytle h1{
    font-size: 40px;
    padding-bottom: 10px;
}
.contact{
    width: 327px;
    height: 333px;
    text-align: center;
}
.contact button{
    color: rgba(255, 166, 43, 1);
    border: 2px solid rgba(255, 166, 43, 1);
    width: 160px;
    height: 44px;
    border-radius: 5px;
}
.contact-cards{
    display: flex;
    gap: 30px;
    padding-bottom: 100px;
}
.contact-cards h3, h4{
    font-size: 16px;
}
.ikki img{
    background-color: rgba(37, 43, 66, 1);
    border-radius: 50%;
    padding: 10px;
}
.contact h3{
    padding-top: 15px;
}
.contact h2{
    padding-top: 15px;
    padding-bottom: 15px;
}
.bir:hover{
    background-color: rgba(37, 43, 66, 1);
    color: white;
    transition: 0.5s;
}
.bir:hover button{
    background-color: rgba(37, 43, 66, 1);
    color: white;
    border: 2px solid white;
    transition: 0.5s;
}
.bir img{
    margin-top: 50px;
    padding: 10px;
}
.ikki img{
    margin-top: 50px;
}
.uch img{
    margin-top: 50px;
    padding: 10px;
}
.ikki:hover {
    background-color: rgba(37, 43, 66, 1);
    color: white;
    transition: 0.5s;
}

.ikki:hover button {
    background-color: rgba(37, 43, 66, 1);
    color: white;
    border: 2px solid white;
    transition: 0.5s;
}
.uch:hover {
    background-color: rgba(37, 43, 66, 1);
    color: white;
    transition: 0.5s;
}

.uch:hover button {
    background-color: rgba(37, 43, 66, 1);
    color: white;
    border: 2px solid white;
    transition: 0.5s;
}
.form-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}
.inputlar{
    padding-top: 100px;
    padding-bottom: 60px;
    padding-bottom: 100px;
}
form input, select {
    width: 100%;
    padding: 14px;
    padding-top: 10px;
    margin-top: 10px;
    border: 1px solid gray;
    font-size: 16px;
    border-radius: 3px;
}
.butt{
    width: 150px;
    padding: 12px;
    background: #ff9800;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 100px;
    margin-left: 444px;
}
.coment{
    padding-bottom: 150px;
}
.fut1{
    display:flex ;
}
footer{
    background-color: rgba(22, 105, 122, 1);
    padding-top: 40px;
    padding-bottom: 40px;
}
.oyoq{
    display: flex;
    gap: 50px;
    color: white;
    padding-left: 30px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
footer ul li{
    margin-top: 10px;
}
footer div ul li a{
    color: white;
}